.paginaHome {
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: #FCFCFC;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerIconeTitulo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.iconeTopBar {
    width: 60px;
    height: 60px;
    margin-left: 260px;
}

.containerIconeTitulo h1 {
    font-size: 2.2rem;
    color: #3D3D3D;
    margin-left: 15px;
    margin-top: 15px;
}

#botaoDarkMode {
    margin-right: 260px;
    border: none;
    background: #FCFCFC;
    cursor: pointer;
}

#botaoDarkMode img{
    width: 40px;
    height: 40px;
}

.sectionPrincipal {
    width: 1400px;
    height: 750px;
    background: #f0f0f0;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerCalculo {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerReceita {
    width: 420px;
    height: 200px;
    background: #FCFCFC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerReceita h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerReceita h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

.containerReceita input {
    width: 355px;
    height: 50px;
    background: #F0F0F0;
    border-radius: 10px;
    border: 1px solid #CECECE;
    margin-top: 10px;
    outline: none;
    font-size: 1.8rem;
    color: #41C346;
    font-weight: 800;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerReceita input::-webkit-outer-spin-button,
.containerReceita input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#containerTotal {
    width: 420px;
    height: 200px;
    background: #FCFCFC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#botaoCalcular {
    width: 220px;
    height: 50px;
    margin-top: 60px;
    background: #41C346;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #f5f5f5;
    font-weight: 800;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#botaoCalcular:hover {
    background: #5adf5f;
}

#botaoCalcular:active {
    background: #41C346;
}

#containerTotal h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

#containerTotal h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

#labelResultado {
    width: 220px;
    height: 50px;
    background: #F0F0F0;
    border-radius: 10px;
    border: 1px solid #CECECE;
    margin-top: 10px;
    font-size: 1.8rem;
    color: #41C346;
    font-weight: 800;
    display: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerDespesa {
    width: 420px;
    height: 200px;
    background: #FCFCFC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerDespesa h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerDespesa h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

.containerDespesa input {
    width: 355px;
    height: 50px;
    background: #F0F0F0;
    border-radius: 10px;
    border: 1px solid #CECECE;
    margin-top: 10px;
    outline: none;
    font-size: 1.8rem;
    color: #C54E34;
    font-weight: 800;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerDespesa input::-webkit-outer-spin-button,
.containerDespesa input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#containerPorcentagens {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.containerPorcentagemGastos {
    width: 420px;
    height: 150px;
    border-radius: 10px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerPorcentagemGastos h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerPorcentagemGastos h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

#inputPorecentagemGastos {
    width: 80px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 10px;
    border: 1px solid #CECECE;
    margin-top: 10px;
    outline: none;
    font-size: 1.5rem;
    color: #5B5B5B;
    font-weight: 700;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerPorcentagemGastos input::-webkit-outer-spin-button,
.containerPorcentagemGastos input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.containerPorcentagemInvestimentos {
    width: 420px;
    height: 150px;
    border-radius: 10px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerPorcentagemInvestimentos h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerPorcentagemInvestimentos h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

#inputPorecentagemInvestimentos {
    width: 80px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 10px;
    border: 1px solid #CECECE;
    margin-top: 10px;
    outline: none;
    font-size: 1.5rem;
    color: #5B5B5B;
    font-weight: 700;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerPorcentagemInvestimentos input::-webkit-outer-spin-button,
.containerPorcentagemInvestimentos input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.containerPorcentagemReserva {
    width: 420px;
    height: 150px;
    border-radius: 10px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerPorcentagemReserva h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerPorcentagemReserva h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

#inputPorecentagemReserva {
    width: 80px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 10px;
    border: 1px solid #CECECE;
    margin-top: 10px;
    outline: none;
    font-size: 1.5rem;
    color: #5B5B5B;
    font-weight: 700;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerPorcentagemReserva input::-webkit-outer-spin-button,
.containerPorcentagemReserva input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#botaoVerResultados {
    width: 220px;
    height: 50px;
    background: #41C346;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #f5f5f5;
    font-weight: 800;
    cursor: pointer;
    margin-top: 25PX;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#botaoVerResultados:hover {
    background: #5adf5f;
}

#botaoVerResultados:active {
    background: #41C346;
}

#containerResultados {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.containerGastos {
    width: 420px;
    height: 150px;
    border-radius: 10px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerGastos h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerGastos h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

#labelGastos {
    color: #41C346;
    font-size: 1.8rem;
    font-weight: 800;
}

.containerInvestimentos {
    width: 420px;
    height: 150px;
    border-radius: 10px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerInvestimentos h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerInvestimentos h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

#labelInvestimentos {
    color: #41C346;
    font-size: 1.8rem;
    font-weight: 800;
}

.containerReserva {
    width: 420px;
    height: 150px;
    border-radius: 10px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerReserva h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

.containerReserva h3 {
    color: #848484;
    font-size: 1rem;
    font-weight: 400;
}

#labelReserva {
    color: #41C346;
    font-size: 1.8rem;
    font-weight: 800;
}

#botaoZerar {
    width: 220px;
    height: 50px;
    background: #C54E34;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #f5f5f5;
    font-weight: 800;
    cursor: pointer;
    margin-top: 25PX;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#botaoZerar:hover {
    background: #e2684d;
}

#botaoZerar:active {
    background: #C54E34;
}