.paginaHome {
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionPrincipal {
    width: 1400px;
    height: 750px;
    background: #f0f0f0;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: #64646f33 0px 7px 29px 0px;
}

#botaoCalcular {
    width: 220px;
    height: 50px;
    margin-top: 60px;
    background: #41C346;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #f5f5f5;
    font-weight: 800;
    cursor: pointer;
    box-shadow: #64646f33 0px 7px 29px 0px;
}

#botaoCalcular:hover {
    background: #5adf5f;
}

#botaoCalcular:active {
    background: #41C346;
}

#botaoVerResultados {
    width: 220px;
    height: 50px;
    background: #41C346;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #f5f5f5;
    font-weight: 800;
    cursor: pointer;
    margin-top: 25PX;
    box-shadow: #64646f33 0px 7px 29px 0px;
}

#botaoVerResultados:hover {
    background: #5adf5f;
}

#botaoVerResultados:active {
    background: #41C346;
}

#botaoZerar {
    width: 220px;
    height: 50px;
    background: #C54E34;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #f5f5f5;
    font-weight: 800;
    cursor: pointer;
    margin-top: 25PX;
    box-shadow: #64646f33 0px 7px 29px 0px;
}

#botaoZerar:hover {
    background: #e2684d;
}

#botaoZerar:active {
    background: #C54E34;
}